<div class="wrapper">
  <div class="welcome-container">
  <div class="companyHead">
  <img src="assets/icons/SevenPaylogosmall.png" alt="7 pay Logo" />
  <p class="mat-h2">SevenPay Hosted Payment</p>
  </div>
  <div class="boder-bottom"></div>
  
  <div class="button-container">
      <button mat-raised-button class="primary" (click)="openPaymentOptions()">Direct Payment</button>
      <button mat-raised-button class="accent" (click)="openSelectPayment()">Hosted Payment</button>
    </div>
</div>
</div>