<!-- STRIPE THINGS HERE -->
<div class="payment-container" [ngClass]="{ loading: loading }">
  <div class="header-container">
    <img src="assets/icons/visaCard.png" alt="" />
  </div>
  <mat-dialog-content>
    <form class="stripeContainer">
      <div class="card-names">
        <span class="name-cardNumber">CARD NUMBER</span>
        <span class="name-CVC">CVC</span>
      </div>
      <div class="card-elements">
        <div class="cardNumber">
          <div #cardNumber></div>
        </div>

        <div class="cardCvc">
          <div #cardCvc></div>
        </div>
      </div>

      <span class="name-cardHolder">CARD HOLDER NAME</span>
      <div class="card-holder-name">
        <input
          matInput
          type="text"
          name=""
          id=""
          class="cardHolder"
          placeholder="Akah Larry"
          (keydown)="triggerPayment($event)"
        />
      </div>

      <span class="name-cardExpiry">EXPERITION DATE</span>
      <div class="cardExp">
        <div #cardExpiry></div>
      </div>

      <div *ngIf="pocessing" [ngClass]="{ loading: loading }">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>

      <p
        class="cardErrors"
        [ngClass]="{ cardErrors: cardError, 'payment-success': paymentSuccess }"
      >
        {{ cardErrorOrPaymentSuccess }}
      </p>
    </form>
  </mat-dialog-content>
</div>
<!-- END OF STRIPE -->
<div class="payment-button">
  <button mat-raised-button class="card-btn next">
    <!-- <span *ngIf="buttonState != 'Loading'">{{ buttonState }}</span> -->
    <mat-progress-spinner
      [diameter]="35"
      mode="indeterminate"
      color="warn"
    ></mat-progress-spinner>
  </button>
</div>
