$secondary: #94b30d;
$primary: #0767b1;
$default: #ffffff;
@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Source+Sans+Pro:wght@400;600&display=swap");

.container-head {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 2%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    margin-top: 0.4rem;
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
    position: relative;
    left: -5rem;
    top: 0.5rem;
  }
  mat-icon.back {
    font-size: 3.8rem;
    cursor: pointer;
    position: relative;
    top: -0.3rem;
    left: -5rem;
  }

  mat-icon.translate {
    font-size: 2rem;
    margin-right: -2rem;
    margin-top: 1rem;
    cursor: pointer;
  }
}

//shift heading for successful payment
.paymentSuccess {
  left: 0rem !important;
}
// appy styles on icon and span while in payment mode
// .paymentModeIcon {
//   left: -8.9rem !important;
// }

.paymentModeSpan {
  left: -10rem !important;
}
.responsive {
  display: none;
}

select {
  width: 70px;
  height: 20px;
}

.language-container-english {
  background-color: white;
  padding: 3px;
  position: relative;
  top: 1rem;
  right: -0.5rem;

  img {
    margin-bottom: -5px;
    height: 13.5px;
    width: 20px;
    padding: 3px;
  }

  select {
    border: none;
    background: white;
  }
}

.language-container-french {
  display: none;
  background-color: white;
  padding: 3px;
  position: relative;
  top: 3rem;
  right: 10.5rem;
  position: relative;
  top: 1rem;
  right: -5rem;
  img {
    margin-bottom: -5px;
    height: 13.5px;
    width: 20px;
    padding: 3px;
  }

  select {
    border: none;
    background: white;
  }
}

.language-container-english,
select,
option:hover {
  cursor: pointer;
}

.language-container-french,
select,
option:hover {
  cursor: pointer;
}

.showElement {
  display: inline-block;
}

@media screen and (max-width: 490px) {
  .responsive {
    display: inline;
  }
  .Not-responsive {
    display: none;
  }

  .container-head span {
    margin-top: 0.4rem;
    font-size: 1.8rem;
    font-family: "Rubik", sans-serif;
    position: relative;
    left: -1.6rem;
    top: 0.5rem;
  }

  .container-head mat-icon.back {
    font-size: 3.8rem;
    cursor: pointer;
    position: relative;
    top: -0.3rem;
    left: -2rem;
  }
}
@media screen and (max-width: 375px) {
  .container-head span {
    margin-top: 0.6rem;
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
    position: relative;
    left: -1.6rem;
    top: 0.5rem;
  }
}
