<!-- <mat-sidenav mode="side" position="end" #sidenavContainer closed>
    <div class="side-headers">
      <button mat-icon-button>
        <mat-icon>card_travel</mat-icon>
        Ajouter Un Contrat a votre compte
      </button>

      <button mat-icon-button>
        <mat-icon>assignment</mat-icon>
        Effectuer un paiement en ligne
      </button>
    </div>

    <div class="mobile-links">
      <img
        src="assets/icons/googlePlay512.png"
        alt="Google play Store"
        class="googlePlay"
      />
      <img
        src="assets/icons/applestoreFrench.png"
        alt="Google play Store"
        class="appleStore"
      />
    </div>
  </mat-sidenav> -->

<!-- <mat-sidenav-content> -->
<!-- <div class="toggleSideNavContainer" (click)="sidenavContainer.toggle()">
      <mat-icon>menu</mat-icon>
    </div> -->
<!-- </mat-sidenav-content> -->

<router-outlet></router-outlet>
