<mat-toolbar>
  <img src="assets/icons/logomyeasyLight.png" alt="My Easy Light" />
  <img src="assets/icons/EneoLogo.png" alt="Eneo Logo" />
</mat-toolbar>
<mat-grid-list cols="3" gutterSize="1rem">
  <mat-grid-tile colspan="2">
    <div class="payment-details-container">
      <h3 class="table-name">Panier</h3>
      <mat-divider></mat-divider>
      <div class="underline-header"></div>
      <h4 class="table-heading">Reglement des factures du Panier</h4>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="No_deFacture">
          <th mat-header-cell *matHeaderCellDef>No de Facture</th>
          <td mat-cell *matCellDef="let element">
            {{ element.No_deFacture }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Agence">
          <th mat-header-cell *matHeaderCellDef>Agence</th>
          <td mat-cell *matCellDef="let element">{{ element.Agence }}</td>
        </ng-container>

        <ng-container matColumnDef="MoireConcerne">
          <th mat-header-cell *matHeaderCellDef>Moire Concerne</th>
          <td mat-cell *matCellDef="let element">
            {{ element.MoireConcerne }}
          </td>
        </ng-container>

        <ng-container matColumnDef="MontantPayer">
          <th mat-header-cell *matHeaderCellDef>Montant a payer</th>
          <td mat-cell *matCellDef="let element" class="moneyPaid">
            {{ element.MontantPayer }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div class="total-container">
        <p>Total :<span> 37500 FCFA</span></p>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="side-container">
      <!-- <p>Selectionez votre mode de paiement</p> -->
      <mat-divider></mat-divider>

      <div class="btn-payment-container">
        <button
          mat-raised-button
          color="primary"
          class="activatePayment"
          (click)="openHostedPayment()"
        >
          Payer
        </button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
