<div class="unauthorized-container">
  <mat-toolbar>
    <img src="assets/icons/logomyeasyLight.png" alt="My Easy Light" />
    <img src="assets/icons/EneoLogo.png" alt="Eneo Logo" />
  </mat-toolbar>
  <div class="boder-bottom"></div>

  <div class="parent-container">
    <div class="image-container">
      <img src="assets/icons/unauthorised.png" alt="" />
    </div>
    <div class="error-message-container">
      <p>Non authoris&eacute;</p>
    </div>
    <div class="detail-error-info">
      <p>
        D&eacute;sol&eacute;,vous n'avez pas la permissions d'acc&eacute;der a
        cette page
      </p>
    </div>
  </div>
</div>
